@import "https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext";
html,
body {
    cursor: url(https://file.leanhduc.pro.vn/image/mouse_f1.png), auto
}

a:hover {
    cursor: url(https://file.leanhduc.pro.vn/image/mouse_f1.png), auto
}

 ::-webkit-scrollbar {
    width: 5px
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px
}

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555
}

html {
    position: relative;
    overflow-x: hidden!important;
    overflow-x: hidden!important
}

* {
    box-sizing: border-box
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #324e63;
    margin: 0
}

a,
a:hover {
    text-decoration: none
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor
}

.wrapper {
    width: 100%;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 50px 20px;
    padding-top: 100px;
    display: flex;
    background-image: linear-gradient(217deg, rgba(94, 255, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 242, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgb(255, 0, 0), rgba(0, 0, 255, 0) 70.71%);
}

@media screen and (max-width:768px) {
    .wrapper {
        height: auto;
        min-height: 100vh;
        padding-top: 100px
    }
}

.profile-card {
    width: 100%;
    min-height: 460px;
    margin: auto;
    box-shadow: 0 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: rgb(213, 255, 246);
    border-radius: 12px;
    max-width: 700px;
    position: relative
}

.profile-card.active .profile-card__cnt {
    filter: blur(6px)
}

.profile-card.active .profile-card-message,
.profile-card.active .profile-card__overlay {
    opacity: 1;
    pointer-events: auto;
    transition-delay: .1s
}

.profile-card.active .profile-card-form {
    transform: none;
    transition-delay: .1s
}

.profile-card__img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0 5px 50px 0 #6c44fc, 0px 0 0 7px rgba(50, 74, 255, 0.5)
}

@media screen and (max-width:576px) {
    .profile-card__img {
        width: 120px;
        height: 120px
    }
}

.profile-card__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%
}

.profile-card__cnt {
    margin-top: -35px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 40px;
    transition: all .3s
}

.profile-card__name {
    font-weight: 700;
    font-size: 24px;
    color: #6944ff;
    margin-bottom: 15px
}

.profile-card__txt {
    font-size: 18px;
    font-weight: 500;
    color: #324e63;
    margin-bottom: 15px
}

.profile-card__txt strong {
    font-weight: 700
}

.profile-card-loc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600
}

.profile-card-loc__icon {
    display: inline-flex;
    font-size: 27px;
    margin-right: 10px
}

.profile-card-inf {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 35px
}

.profile-card-inf__item {
    padding: 10px 35px;
    min-width: 150px
}

@media screen and (max-width:768px) {
    .profile-card-inf__item {
        padding: 10px 20px;
        min-width: 120px
    }
}

.profile-card-inf__title {
    font-weight: 700;
    font-size: 27px;
    color: #324e63
}

.profile-card-inf__txt {
    font-weight: 500;
    margin-top: 7px
}

.profile-card-social {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

.profile-card-social__item {
    display: inline-flex;
    width: 55px;
    height: 55px;
    margin: 15px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #405de6;
    box-shadow: 0 7px 30px rgba(43, 98, 169, 0.5);
    position: relative;
    font-size: 21px;
    flex-shrink: 0;
    transition: all .3s
}

@media screen and (max-width:768px) {
    .profile-card-social__item {
        width: 50px;
        height: 50px;
        margin: 10px
    }
}

@media screen and (min-width:768px) {
    .profile-card-social__item:hover {
        transform: scale(1.2)
    }
}

.profile-card-social__item.facebook {
    background: linear-gradient(45deg, #3b5998, #0078d7);
    box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5)
}

.profile-card-social__item.twitter {
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0 4px 30px rgba(19, 127, 212, 0.7)
}

.profile-card-social__item.instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6)
}

.profile-card-social__item.behance {
    background: linear-gradient(45deg, #1769ff, #213fca);
    box-shadow: 0 4px 30px rgba(27, 86, 231, 0.7)
}

.profile-card-social__item.github {
    background: linear-gradient(45deg, #00ff00, #00ff9d34, #00d9ffce, #00c3ff5b, #ff00ff7a, #37fff5);
    box-shadow: 0 4px 30px rgba(63, 65, 67, 0.6)
}

.profile-card-social__item.codepen {
    background: linear-gradient(45deg, #6596bb, #414447);
    box-shadow: 0 4px 30px rgba(55, 75, 90, 0.6)
}

.profile-card-social__item.link {
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0 4px 30px rgba(45, 217, 223, 0.6)
}

.profile-card-social .icon-font {
    display: inline-flex
}

.profile-card-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px
}

@media screen and (max-width:576px) {
    .profile-card-ctr {
        flex-wrap: wrap
    }
}

.profile-card__button {
    background: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 19px;
    margin: 15px 35px;
    padding: 15px 40px;
    min-width: 201px;
    border-radius: 50px;
    min-height: 55px;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .3s
}

@media screen and (max-width:768px) {
    .profile-card__button {
        min-width: 170px;
        margin: 15px 25px
    }
}

@media screen and (max-width:576px) {
    .profile-card__button {
        min-width: inherit;
        margin: 0;
        margin-bottom: 16px;
        width: 100%;
        max-width: 300px
    }
    .profile-card__button:last-child {
        margin-bottom: 0
    }
}

.profile-card__button:focus {
    outline: none!important
}

@media screen and (min-width:768px) {
    .profile-card__button:hover {
        transform: translateY(-5px)
    }
}

.profile-card__button:first-child {
    margin-left: 0
}

.profile-card__button:last-child {
    margin-right: 0
}

.profile-card__button.button--blue {
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0 4px 30px rgba(19, 127, 212, 0.4)
}

.profile-card__button.button--blue:hover {
    box-shadow: 0 7px 30px rgba(19, 127, 212, 0.75)
}

.profile-card__button.button--orange {
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0 4px 30px rgba(223, 45, 70, 0.35)
}

.profile-card__button.button--orange:hover {
    box-shadow: 0 7px 30px rgba(223, 45, 70, 0.75)
}

.profile-card__button.button--gray {
    box-shadow: none;
    background: #dcdcdc;
    color: #142029
}

.profile-card-message {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 130px;
    padding-bottom: 100px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s
}

.profile-card-form {
    box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 35px;
    transform: scale(0.8);
    position: relative;
    z-index: 3;
    transition: all .3s
}

@media screen and (max-width:768px) {
    .profile-card-form {
        max-width: 90%;
        height: auto
    }
}

@media screen and (max-width:576px) {
    .profile-card-form {
        padding: 20px
    }
}

.profile-card-form__bottom {
    justify-content: space-between;
    display: flex
}

@media screen and (max-width:576px) {
    .profile-card-form__bottom {
        flex-wrap: wrap
    }
}

.profile-card textarea {
    width: 100%;
    resize: none;
    height: 210px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 15px 20px;
    color: #324e63;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    transition: all .3s
}

.profile-card textarea:focus {
    outline: none;
    border-color: #8a979e
}

.profile-card__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    background: rgba(22, 33, 72, 0.35);
    border-radius: 12px;
    transition: all .3s
}

[hidden],
template {
    display: none
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(238, 174, 174, 1) 0%, rgba(148, 233, 229, 1) 100%);
    z-index: 1000
}

.spinner {
    position: fixed;
    width: 100%;
    top: 70%;
    height: 30px;
    text-align: center;
    font-size: 10px
}

.spinner,
.spinner-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 9px solid rgb(255, 192, 252);
    border-color: transparent white;
    margin: auto
}

.spinner {
    width: 85px;
    height: 85px;
    -webkit-animation: spin 2.2s linear 0s infinite normal;
    -moz-animation: spin 2.2s linear 0s infinite normal;
    animation: spin 2.2s linear 0s infinite normal
}

.spinner-inner {
    width: 40px;
    height: 40px;
    -webkit-animation: spinback 1.2s linear 0s infinite normal;
    -moz-animation: spinback 1.2s linear 0s infinite normal;
    animation: spinback 1.2s linear 0s infinite normal
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spinback {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(-360deg)
    }
}

@-moz-keyframes spinback {
    from {
        -moz-transform: rotate(0)
    }
    to {
        -moz-transform: rotate(-360deg)
    }
}

@keyframes spinback {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(-360deg)
    }
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0%,
    100% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    color: rgb(0, 43, 40);
    font-size: 2em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px rgba(157, 208, 255, 0.616);
    position: fixed;
    top: -100%;
    z-index: 99999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 99s, 100s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 8s, 5s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}